@media only screen and (max-width:999px) {

	.bord-left {
		margin-left:  10px;
	}

	.middle {
		width:  1160px;
		margin:  0px auto;
	}

	.container {
		padding-left:  0px;
		padding-right:  15px;
		margin-left:  auto;
		margin-right:  auto;
		width:  930px;
	}

	.bord-right {
		margin-left:  315px;
	}

	.footer {
		margin-left:  15px;
	}

	.slogan {
		width:  906px;
	}

}
