@media only screen and (max-width:900px) {

	.bord-mid {
		width:  700px;
	}

}

@media only screen and (max-width:950px) {

	.bord-mid {
		width:  750px;
		margin-left:  65px;
	}

	.bord-right {
		width:  750px;
		margin-left:  65px;
	}

	.footer {
		width:  750px;
		margin-left: 65px;
	}

	.footer-adresgegevens{
		margin-left:  130px;
		width: 250px;
		padding-left: 0px;
	
	}

	.footer-contactgegevens {
		width:  250px;
		padding-left:  0px;
		margin-left: 0px;
	}
	
	.header {
		margin-left: 180px;
	}
	
	.slogan {
		margin-left: -20px;
	}
	
}

@media only screen and (max-width:900px) {

	.bord-mid {
		width:  700px;
	}
	
	.bord-right {
		width: 700px;
	}
	
	.slogan {
		margin-left: -40px;
	}
	
	.header {
		margin-left: 150px;
	}
	
	.footer {
		width: 700px;
	}
	
	.menu-style > a > button {
		width: 33%
	}
}

@media (max-width:550px) {
    .navbar-nav > li {
        width: 100%;
        height: 37px;
    }
        
    .navbar-collapse.in {
        height: 215px!important;
    }
    
}