/*Main*/
html, body {
	height: auto;   
}
h1,h2,h3,h4,h5,h6,p,a
{
	font-family: 'Handlee', cursive;
}

body
{
	background-color: #17AEFF;
	background-image: url("../images/ster-links.png"), url("../images/ster-rechts.png"), url("../images/achtergrond.png");
	background-repeat: no-repeat, no-repeat, repeat-x;
	background-position: top left, top right, bottom;
	margin-top: 10px;
	margin-left: 5%;
	margin-right: 5%;
}


.floatleft
{
	float: left;
}

.floatright
{
	float: right;
}

/*Top*/
.top
{
	display: block;
}

.header
{
	display: inline-block;
	width: auto;
	margin-left: 33%;
	vertical-align: center;
	text-align: center;
}

.logo-leftheader
{
	display: inline-block;
}

.title
{
	display: inline-block;
}

.title > h1
{
	color: #fff;
	font-size: 36pt;
}

.logo-rightheader
{
	display: inline-block;
}

.slogan
{
	display: inline-block;
	margin-left: 265px;	
}

.slogan > h3
{
	color: #fff;
	font-size: 22pt;
}

/*Middle*/
.middle
{
	display: block;
}

.bord-left
{
	display: inline-block;
}

.bord-left-achtergrond
{
	display: inline-block;
	width: 250px;
	height: 500px;
	margin-left: 53px;
	background-color: #006837;
	border: solid 10px #000;
	vertical-align: bottom;
}

.bord-mid
{
	display: inline-block;
	width: 600px;
	height: 500px;
	background-color: #006837;
	border: solid 10px #000;
	vertical-align: bottom;
	word-break: break-all;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
}
.bord-mid > h1
{
	border-bottom: double;
	border-width: auto;
	width: 210px;
}

.bord-mid > h2
{
	width: 150px;
}

.hoofdartikel
{
	border-bottom: solid;dddddd
}

.SubArt1
{
	border-right: solid;
	border-width: auto;
	padding-right: 20px;
	width: 180px;
	border-bottom: none!important;
	float: left;
	display: inline-block;
	top: 20px;
}

.SubArt2
{
	border-right: solid;
	border-width: auto;
	padding-left: 20px;
	padding-right: 20px;
	width: 200px;
	border-bottom: none!important;
	float: left;
	display: inline-block;
}

.SubArt3
{
	padding-left: 20px;
	width: 180px;
	border-bottom: none!important;
	float: left;
	display: inline-block;
}

.bord-right
{
	display: inline-block;
	width: 250px;
	height: 500px;
	background-color: #006837;
	margin-right: -100px;
	border: solid 10px #000;
	vertical-align: bottom;
	word-break: break-all;
	padding-left: 10px;
	padding-right: 10px;
	color: white;
}

.bord-right > p
{
	border-bottom: solid;
	padding-bottom: 20px;

}


/*Menu*/
#menutree li {
   list-style: none;          /* all list item li dots invisible */
    color: #fff;
    font-family: 'Handlee', cursive;
         }

   li .menu_label + input[type=checkbox] {
      opacity: 0;             /* checkboxes invisible and use no space */
     }                        /* display: none; is better but fails in ie8 */

    li .menu_label {
      cursor: pointer;        /* cursor changes when you mouse over this class */
    }                         /* could add the many user-select: none; commands here */

      li .menu_label + input[type=checkbox] + ol > li
         {
            display: none;         /* prevents sublists below unchecked labels from displaying */
         }

      li .menu_label + input[type=checkbox]:checked + ol > li
         {
           display: block;         /* display submenu on click */
         }


/*Bottom*/
.footer
{
	margin-left: 306px;
	margin-right: 287px;
	margin-top: 50px;
	background-image: url("../images/linedpaper.png");
}

.footer-kantlijn
{
	width: 88px;
	border-right: solid 1px red;
	float: left;
}

.logo-footer > img
{
	height: 50%;
	width: 50%;
	margin-top: 10px;
	margin-left: 20px;
	margin-bottom: 5px;
}

.footer-kantlijn-tekst
{
	width: 88px;
	height: 26px;
}

.footer-adresgegevens
{
	width: 180px;
	margin-left: 20px;
	height: 95px;
	overflow:auto;
	display: inline-block;
	padding-top: 5px;
}
.footer-contactgegevens
{
	width: 290px;
	height: 95px;
	overflow:auto;
	display: inline-block;
	padding-top: 5px;
}