/*Algemene pagina*/

/*Main*/
html, body {
    height: auto;
}

body {
    margin-bottom: 2%;
}

h1, h2, h3, h4, h5, h6, p, a {
    font-family: 'Handlee', cursive;
}

p {
    word-wrap: break-word;
}

body {
    background-color: #17AEFF;
    background-image: url("../images/ster-links.png"), url("../images/ster-rechts.png");
    background-repeat: no-repeat, no-repeat;
    background-position: top left, top right;
    margin-top: 10px;
    margin-left: 5%;
    margin-right: 5%;
    overflow-x: hidden;
}

.floatleft {
    float: left;
}

.floatright {
    float: right;
}


/*Top*/
.top {
    display: block;
}

.header {
    display: block;
    width: 500px;
    margin: 0 auto;
    vertical-align: center;
    text-align: center;
}

.logo-leftheader {
    display: inline-block;
}

.title {
    display: inline-block;
}

.title > a {
    text-decoration: none;
}

.title > a > h1 {
    color: #fff;
    font-size: 36pt;
}

.logo-rightheader {
    display: inline-block;
}

.slogan {
    display: block;
    margin: 0 auto;
}

.slogan > h3 {
    color: #fff;
    font-size: 22pt;
    text-align: center;
}


/*Middle*/
a {
    text-decoration: none;
    color: #17AEFF;
}
a:hover {
    text-decoration: none;
    color: yellow;
}
a:active {
    text-decoration: none;
    color: yellow;
}
.middle {
    display: block;
    margin: 0 auto;
    width: 1160px;
}

.bord-left {
    display: inline-block;
    width: 250px;
    height: auto;
    min-height: 500px;
    height: auto !important;
    /* for IE as it does not support min-height */
    
    height: 500px;
    background-color: #006837;
    border: solid 10px #000;
    vertical-align: bottom;
}
article.sticky {
    position: fixed;
}

.navbar-form{
    padding: 0px;
    margin-top: 15px;
}

.search-icon {
    height: 17px;
}

.bord-mid {
    position: static;
    display: inline-block;
    margin-left: 5px;
    margin-right: 5px;
    width: 600px;
    min-height: 500px;
    height: auto !important;
    /* for IE as it does not support min-height */
    
    height: 500px;
    background-color: #006837;
    border: solid 10px #000;
    vertical-align: top;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

.bord-mid > h1 {
    border-bottom: double;
    border-width: auto;
    width: 210px;
}

.bord-mid > h2 {
    width: 150px;
}

.hoofdartikel {
    border-bottom: solid;
}

.afbeelding-rechts {
    max-height: 180px;
    margin-left: 10px;
}

.SubArt1 {
    padding-right: 20px;
    width: 180px;
    border-bottom: none!important;
    float: left;
    display: inline-block;
}

.SubArt2 {
    padding-left: 10px;
    padding-right: 10px;
    width: 200px;
    border-bottom: none!important;
    float: left;
    display: inline-block;
}

.SubArt3 {
    padding-left: 10px;
    width: 180px;
    border-bottom: none!important;
    float: left;
    display: inline-block;
}

.bord-right {
    display: inline-block;
    width: 250px;
    height: auto;
    min-height: 500px;
    height: auto !important;
    /* for IE as it does not support min-height */
    
    height: 500px;
    background-color: #006837;
    border: solid 10px #000;
    vertical-align: top;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

.noborder {
    border-bottom: none !important;
}

.bord-right > p {
    border-bottom: solid;
    padding-bottom: 10px;
}


/*Menu*/
#menutree li {
    list-style: none;
    /* all list item li dots invisible */
    
    color: #fff;
    font-family: 'Handlee', cursive;
}

li .menu_label + input[type=checkbox] {
    opacity: 0;
    /* checkboxes invisible and use no space */
}

li .menu_label {
    cursor: pointer;
    /* cursor changes when you mouse over this class */
}

li .menu_label + input[type=checkbox] + ol > li {
    display: none;
    /* prevents sublists below unchecked labels from displaying */
}

li .menu_label + input[type=checkbox]:checked + ol > li {
    display: block;
    /* display submenu on click */
}

.wifeo_pagemenu > a {
    color: #FFFFFF;
    text-decoration: none
}

.wifeo_pagemenu:hover > a {
    color: #FFFFFF;
    text-decoration: none;
}

.wifeo_rubrique > a {
    color: #FFFFFF;
    text-decoration: none
}

.wifeo_rubrique:hover > a {
    color: #FFFFFF;
    text-decoration: none
}

.wifeo_pagesousmenu > a {
    color: #FFFFFF;
    text-decoration: none
}

.wifeo_conteneur_menu {
    border-spacing: 0px
}

.wifeo_conteneur_menu {
    height: auto;
    width: 200px
}

.wifeo_pagemenu, .wifeo_rubrique {
    background-color: #006837;
    width: 200px;
}

.wifeo_pagemenu > a, .wifeo_rubrique > a {
    text-align: left;
    width: 200px;
}

.wifeo_pagemenu:hover, .wifeo_rubrique:hover {
    background-color: #3CA473;
    width: 200px;
}

.wifeo_conteneur_menu a {
    text-decoration: none;
    display: table-cell;
    vertical-align: middle;
    padding: 0 5px;
    height: 40px;
    -webkit-transition: all 0.50s ease;
    -moz-transition: all 0.50s ease;
    -ms-transition: all 0.50s ease;
    -o-transition: all 0.50s ease;
    transition: all 0.50s ease
}

.wifeo_pagesousmenu {
    width: 100%;
    text-align: right;
    display: table
}

.wifeo_sousmenu {
    max-height: 0;
    width: 100%;
    opacity: 0;
    overflow: hidden;
    border-radius: 0;
    margin-left: 0;
    visibility: hidden
}

.wifeo_sousmenu a {
    height: 40px;
    background-color: #006837;
    font-size: 14px;
    -webkit-transition: font-size 0.50s ease;
    -moz-transition: font-size 0.50s ease;
    -ms-transition: font-size 0.50s ease;
    -o-transition: font-size 0.50s ease;
    transition: font-size 0.50s ease
}

.wifeo_sousmenu a:hover {
    background: #000E00;
    font-size: 16px;
    border-right: 7px solid #33CC66
}

.wifeo_sousmenu-visible {
    visibility: visible;
    opacity: 1;
    max-height: 15em;
    display: table
}


/*Mobile menu*/
.navbar {
    display: none;
}

.navbar-nav > li > a {
    color: #fff !important;
}

.menu-style {
    background-color: #006837;
}

.menu-style > button:hover {
    background-color: #3CA473;
}

#navbar-btn-toggle1:hover {
    background-color: #3CA473;
}

#navbar-btn-toggle1:focus {
    background-color: #3CA473;
}

.menu-style > button {
    background-color: transparent;
    border: none;
}

.menu-style > button > a {
    color: #fff;
}

nav > li > a:hover {
    background-color: #3CA473;
}


/*Bottom*/
.footer {
    width: 1110px;
    margin-top: 23px;
    border-top: 1px solid #0665ad;
    display: block;
    float:left;
    margin-left: 0px;
}

.logo-footer{
    display: inline-block;
    float:left;
}

.logo-footer > img {
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 5px;
}

.footer-adresgegevens {
    width: 400px;
    margin-left: 100px;
    height: 110px;
    overflow: auto;
    display: inline-block;
    padding-top: 10px;
    padding-left: 140px;
}

.footer-contactgegevens {
    width: 400px;
    height: 110px;
    overflow: auto;
    display: inline-block;
    padding-top: 10px;
    padding-left: 140px;
}



/*Leerkrachten pagina - Prikbord*/
/*het prikbord zelf*/
#prikbord {
    height:520px;
    width: 1130px;
    background-image: url(../images/kurk.jpg);
    border: 8px solid;
    border-radius: 25px;
    border-color: brown;
    vertical-align: bottom;
}

/*alle vakjes met de foto en korte informatie*/
.profiel {
    height: 230px;
    width: 400px;
    display: inline-block;
    background-color: wheat;
    margin-left: 100px;
    margin-top: 12px;
    box-shadow: 5px 5px 5px #000; 
    position: relative;
    vertical-align: bottom;
}

.duimspijker {
  height: 30px;
  width: 30px;
  display: inline-block;
  background-image: url(../images/duimspijker.png);
  margin-top: 3px;
  vertical-align: bottom;
}

.lkr-foto {
  height: 150px;
  width: 150px;
  background-color:;
  margin-left: 36px;
  margin-top: -2px;
  vertical-align: bottom;
}

.teksttwee {
  height: 153px;
  width: 195px;
  background-color:;
  margin-top: -145px;
  margin-left: 190px;
  vertical-align: top;
}

.leerkrachten {
  height: 150px;
  width: 100px;
  margin-left: 25px;
  vertical-align: bottom;
}


/*de achterkant van het kaartje*/
span.text-content {
  background: rgba(0,0,0,0.5);
  color: black;
  cursor: pointer;
  display: table;
  height: 150px;
  position: absolute;
  top: 0;
  width: 150px;
}

span.text-content span {
  color: black;
}

span.text-content {
  background-color: wheat;
  color: white;
  cursor: pointer;
  display: table;
  height: 220px;
  left: 0;
  position: absolute;
  width: 400px;
  opacity: 0;
}

.profiel:hover span.text-content {
  opacity: 1;
}

.alletext {
  margin-left: 33px;
  margin-top: -28px;
  margin-right: 33px;
  padding-top: 10px;
}


/*linkse en rechte pijl om naar de volgende pagina te gaan met de effectjes*/
#links{
  height: 64px;
  width: 64px;
  float: left;
  margin-top: 205px;
  margin-right: -100px;
  margin-left: 16px;
  background-image: url(../images/pijllinks.png);
  background-repeat: no-repeat;
}

#rechts {
  height: 64px;
  width: 64px;
  margin-left: 1033px;
  margin-top: -257px;
  background-image: url(../images/pijlrechts.png);
  background-repeat: no-repeat;
}

#links:hover {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}

#rechts:hover {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}

.ButtonHome {
    height: 50px;
    float: left;
    display: block;
}

.button {
    position: absolute;
    margin-top: -60px;
    margin-left: 80px;
    width: 210px;
}

.home {
    display: block;
    float: left;
    color: white;
    font-family: 'Handlee', cursive;
}

.button > a {
  text-decoration: none;
}


/* Landingspagina */
/*Mobiel menu*/
.mobimenuster {
    display: none;
    margin-left: 130px;
    margin-top: 50px;
}

.wifeo_pagemenu_ster > a {
    color:#fff;
    text-decoration:none
}

.wifeo_pagemenu_ster:hover > a { 
    color:#fff;
    text-decoration:none;
    font-weight:bold
}

.wifeo_rubrique_ster > a {
    color:#fff;
    text-decoration:none
}

.wifeo_rubrique_ster:hover > a {
    color:#fff;
    font-weight:bold;
    text-decoration:none
}

.wifeo_pagesousmenu_ster > a {
    color:#fff;
    text-decoration:none
}

.wifeo_conteneur_menu_ster {
    border-spacing:0px
}

.wifeo_conteneur_menu_ster {
    height:auto;
    width:680px
}

.wifeo_pagemenu_ster, .wifeo_rubrique_ster {
    background-color:#1E8BC3;
    width:680px
}

.wifeo_pagemenu_ster > a, .wifeo_rubrique_ster > a {
    text-align:left;
    width:680px
}

.wifeo_pagemenu_ster:hover, .wifeo_rubrique_ster:hover {
    background-color:#3498DB;
    width:680px
}

.wifeo_conteneur_menu_ster a {
    text-decoration:none;
    display:table-cell;
    vertical-align:middle;
    padding:0 5px;
    height:50px;
    -webkit-transition:all 0.50s ease;
    -moz-transition:all 0.50s ease;
    -ms-transition:all 0.50s ease;
    -o-transition:all 0.50s ease;
    transition:all 0.50s ease
}

.wifeo_pagesousmenu_ster {
    width:100%;
    text-align:right;
    display:table
}

.wifeo_sousmenu_ster {
    max-height:0;
    width:100%;
    opacity:0;
    overflow:hidden;
    border-radius:0;
    margin-left:0;
    visibility: hidden
}

.wifeo_sousmenu_ster a {
    height:50px;
    background-color:#89C4F4;
    font-size:12px;
    -webkit-transition:font-size 0.50s ease;
    -moz-transition:font-size 0.50s ease;
    -ms-transition:font-size 0.50s ease;
    -o-transition:font-size 0.50s ease;
    transition:font-size 0.50s ease
}

.wifeo_sousmenu_ster a:hover {
    background:#2574A9;
    font-size:16px;
    border-right:7px solid #2980B9
} 

.wifeo_sousmenu_ster-visible {
    visibility:visible;
    opacity:1;
    max-height:15em;
    display:table
}


/* Ster - Normaal menu */
.ster{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 937px;
}

.slideshow{
    position: absolute;
    left: 235px;
    top: 267px;
}

.geschiedenis{
    position: absolute;
    top: 40px;
    left: 130px;
    transform: rotate(0deg);
    color: #000;
}

.algemene_info{
	position: absolute;
    color: #000;
}

.opvoedingsproject{
    position: absolute;
    top: 90px;
    left: 290px;
    color: #000;
}

.schoolregelement{
    position: absolute;
    top: 90px;
    left: 80px;
    transform: rotate(0deg);
    color: #000;
}

.agenda{
    position: absolute;
    top: 335px;
    left: 60px;
    transform: rotate(0deg);
    color: #000;
}

.verslagen{
    position: absolute;
    top: 260px;
    left: 60px;
    transform: rotate(0deg);
    color: #000;
}

.ster-foto{
    position: absolute;
    top: 352px;
    left: 200px;
    transform: rotate(0deg);
    color: #000;
}

.contactformulier{
    position: absolute;
    left: 365px;
    top: 300px;
    color: #000;
}

.info{
    position: absolute;
    left: 240px;
    top: 346px;
    color: #000;
}

.leerkrachten_submenu{
    position: absolute;
    left: 430px;
    top: 120px;
    transform: rotate(0deg);
}

.s1ste_Leerjaar{
    position: absolute;
    left: -20px;
    top: 420px;
    transform: rotate(0deg);
    color: #000;
}
.s2de_Leerjaar{
    position: absolute;
    left: 10px;
    top: 460px;
    transform: rotate(0deg);
    color: #000;
}
.s3de_Leerjaar{
    position: absolute;
    left: 40px;
    top: 500;
    transform: rotate(0deg);
    color: #000;
}

.s4de_Leerjaar{
    position: absolute;
    left: 50px;
    top: 225px;
    transform: rotate(0deg);
    color: #000;
}

.s5de_Leerjaar{
    position: absolute;
    top: 185px;
    left: 100px;
    transform: rotate(0deg);
    color: #000;
}

.s6de_Leerjaar{
    position: absolute;
    left: 150px;
    top: 140;
    transform: rotate(0deg);
    color: #000;
}

.Anderstaligen{
    position: absolute;
    left: -30px;
    top: 130px;
    transform: rotate(0deg);
    color: #000;
}

.Sportenspel{
    width: 200px;
    position: absolute;
    left: -30px;
    top: 189px;
    transform: rotate(00deg);
    color: #000;
}

.submenu_text_ster{
	font-size: 20pt;
    color: #000;
}


/*Foto's pagina*/
#fotoprikbord {
    height: 560px;
    width: 1130px;
    background-image: url("../images/kurk.jpg");
    border: 8px solid #A52A2A;
    border-radius: 25px;
    vertical-align: bottom;
}

.polaroid {
	height: 250px;
	width: 200px;
	background-color:white;
	margin-left: 60px;
	margin-top: 8px;
	margin-bottom: 8px;
	vertical-align: bottom;
	display: inline-block;
}
	 
.fotopolaroid {
    height: 180px;
	width: 160px;
	background-color:black;
	margin-left: 20px;
	margin-top: 2px;
	margin-bottom: 5px;
	vertical-align: bottom;
	display: inline-block;
}
	 
.speld {
    height: 20px;
    width: 20px;
    display: inline-block;
	background-image: url(../images/speld.png);
	margin-left:90px;
	margin-right:50;
	margin-top:-5px;	
}
	 
.pijlterug {
    float:right;
}

.foto-big {
    -webkit-transition: all 2s ease; /* Safari and Chrome , Dit zorgt ervoor dat er een vertraging is in de transition van de images in de polaroids als je erop klikt, zie vergroot.js voor meer info*/ 
    -moz-transition: all 2s ease; /* Firefox */
    -ms-transition: all 2s ease; /* IE 9 */
    -o-transition: all 2s ease; /* Opera */
    transition: all 2s ease;
	position: absolute;
	z-index: 1000;
	display: block;
	width: 90%;
	height: 99%;
	background-color: white;
	top: 0;
	left: 0;
	margin-left:5%;
	text-align:center;
}

.resize {
    max-width:80%;
}

.littlepic {
    height: 180px;
    width : 160px;
}

.bigpic {
    height: 100%;
    width : auto;
}